* {
  background: rgba(020, 220, 120, 0.5);
}

.container {
  width: 80vw;
}
.searchHistory {
  height: 40px;
  width: 120px;
  text-align: center;
  border: 1px solid white;
}

.card {
  background: pink;
}
.sideTitle {
  background: maroon;
}
.height {
  height: 50px;
}

.fiveDay {
  height: 120px;
  width: 90px;
  margin: 0 15px 0 15px;
}

.header {
  text-align: center;
  margin: 0;
}
